
div#sidenav {
  position: fixed;
  color: rgb(204, 204, 204);
  top: 0;
  left: 0;
  background-color:rgba(67, 67, 67, 1);
  font-size: 13px;
}

div#sidenav-parent {
  position: relative;
  text-align: center;
}

div#sidenav, div#sidenav-parent, div.sidenav-face {
  width: var(--navbar-width);
  height: 100%;
}

div#sidenav-parent, div.sidenav-face {
  position: absolute;
}

div#face1 { background:#434343; }
div#face2 { background:#f0f; }
div#face3 { background:#063; }
div#face4 { background:#c00; }


div#sidenav-parent div.sidenav-face div.block, div.logo-block {
  width: var(--navbar-width);
  height: var(--navbar-width);
  text-align: center;
  vertical-align: center;
}

div#sidenav-parent div.sidenav-face div.block_h {
  width: var(--navbar-width);
  height: 96px;
  text-align: center;
  vertical-align: center;
}

div#sidenav-parent div.sidenav-face div.block img {
  width: 50px;
}

div#sidenav-parent div.sidenav-face div.block_h img {
  width: 50px;
}

div#sidenav-parent div.sidenav-face div.block_h button img {
  width: 23px;
 }

div#sidenav-parent div.sidenav-face div.block_h button {
  width: 50px;
  height: 50px;
  background-color: #33CC66;
  margin-top: 10px;
}

div#sidenav-parent div.sidenav-face div.block_h button.not-enabled {
  background-color: transparent;
  border: 1px solid #666666;
}

div#sidenav-parent div.sidenav-face div.avatar-block, div.logo-block {
  border-bottom: 1px solid #666666;
}

div#sidenav-parent div.sidenav-face div.avatar-block {
  background-color: rgb(40, 40, 40);
}
