//
   Created by admin on 21.06.2016.

div(id="user-info" ng-controller="userIndex" ng-cloak)
    div(class="content")
        div(id="avatar_block" class="mui-panel")
            div(class="caption md-title") Userpic
            table
                tr
                    td
                        div(style="height: 100%; vertical-align: bottom;")
                            img(src="./img/avatar/user_photo_devholder.png")
                            div(style="display: inline-block; height: 100%;")
                                i(class="fa fa-times")
                    td
                        md-button(class="md-raised") Select image
                        span(class="md-body-1") Jpeg, png
                        div(class="md-body-1 inform-block")
                            p Upload image 1000px height
                            p or width, and never more than
                            p 1MB
                tr
                    td(colspan=2)
                        div(class="caption md-title") User details
                tr
                    td
                        md-input-container(class="md-block" flex-gt-sm)
                            label First Name
                            input
                    td
                        md-input-container(class="md-block" flex-gt-sm)
                            label Last Name
                            input
                tr
                    td(colspan="2")
                        md-input-container(class="md-block" flex-gt-sm)
                            label E-mail
                            input
                tr
                    td
                        md-input-container(class="md-block" flex-gt-sm)
                            label Phone number
                            input
                    td
                        md-input-container(class="md-block" flex-gt-sm)
                            label Phone number 2 (optional)
                            input
                tr
                    td(colspan=2)
                        div(class="caption md-title") Company details
                tr
                    td(colspan=2)
                        md-input-container(class="md-block" flex-gt-sm)
                            label Company name
                            input
                tr
                    td(colspan=2)
                        md-input-container(class="md-block" flex-gt-sm)
                            label Company registration number
                            input
                tr
                    td(colspan=2)
                        md-input-container(class="md-block" flex-gt-sm)
                            label VAT number
                            input
                tr
                    td(colspan=2)
                        md-button(class="md-raised md-primary") Save details
    div(class="content")
        div(class="mui-panel")
            div(class="caption md-title") Addresses
                md-radio-group
                    table(id="addresses")
                        tr
                            td(class="md-body-2") Shipping address
                            td(class='md-body-2') Default
                        tr
                            td(class="md-body-1") 1. Russian Federation, Moscow, Lenin St., 2-25
                                i(class="fa fa-pencil" style="margin-left: 10px;")
                            td
                                md-radio-button(flex class="md-primary" ng-value="1" aria-label="1")
                        tr
                            td(class="md-body-1") 2. Russian Federation, Moscow, Petrova St., 3-2-123
                                i(class="fa fa-pencil" style="margin-left: 10px;")
                            td
                                md-radio-button(flex class="md-primary" ng-value="2" aria-label="2")
                        tr
                            td(colspan=2)
                                md-button(class="md-raised" style="width:100%;") +   Add address
            div(id="quest_block1") Billiing and shipping address the same?
                md-checkbox(aria-label="Yes" style="margin-left: 10px") Yes
                md-checkbox(aria-label="No") No
            div(class="caption md-title") Billing address
                md-radio-group
                    table(id="bill-addresses")
                        tr
                            td(class="md-body-2") Shipping address
                            td(class='md-body-2') Default
                        tr
                            td(class="md-body-1") 1. Russian Federation, Moscow, Lenin St., 2-25
                                i(class="fa fa-pencil" style="margin-left: 10px;")
                            td
                                md-radio-button(flex class="md-primary" ng-value="1" aria-label="1")
                        tr
                            td(class="md-body-1") 2. Russian Federation, Moscow, Petrova St., 3-2-123
                                i(class="fa fa-pencil" style="margin-left: 10px;")
                            td
                                md-radio-button(flex class="md-primary" ng-value="2" aria-label="2")
                        tr
                            td(colspan=2)
                                md-button(class="md-raised" style="width:100%;") +   Add address
            md-button(class="md-raised md-primary") Save addresses
    div(class="content")
        div(class="mui-panel")
            div(class="caption md-title") Change password
            div
                md-input-container(class="md-block")
                    label Old password
                    input(type="password")
            div
                md-input-container(class="md-block")
                    label New password
                    input(type="password")
            div
                md-input-container(class="md-block")
                    label New password one more time
                    input(type="password")
            md-button(class="md-raised md-primary") Save password
    include ../include/views/footer.jade