//
   Created by kozik on 23.06.2016.

div(id="user-pricelist" ng-controller="user" ng-cloak)
    include ./include/menu.jade
    div(class="content")
        div(class="mui-panel")
            div(class="caption md-title") My pricelist
                md-button(class="md-raised" style="float: right")
                    i(class="fa fa-print" style="margin-right: 10px;")
                    span Print
            div(style="margin-top: 30px;") Shown here are your prices
            | for the basic products RITCHY Group Ltd.

            table(id="discount-table")
                tr
                    td Liqua C 10ml
                    td 30.90 CZK
                tr
                    td Liqua C 30ml
                    td 59.40 CZK
                tr
                    td Liqua C 50ml
                    td 76.06 CZK
                tr
                    td Liqua Q 10ml
                    td 36.84 CZK
                tr
                    td Liqua Q 30ml
                    td 63.00 CZK
                tr
                    td Liqua HP 10ml
                    td 36.84 CZK
                tr
                    td Liqua HP 30ml
                    td 63.00 CZK
                tr
                    td Vaping Pen
                    td 261.47 CZK
                tr
                    td Atomizers (x5)
                    td 147.37 CZK
                tr
                    td Clearomizers (x5)
                    td 292.37 CZK
                tr
                    td Batteries for LIQUA Vaping Pen (x5)
                    td 974.57 CZK
    include ./include/footer.jade