//
   Created by kozik on 23.06.2016.

div(id="user-pricelist" ng-controller="user" ng-cloak)
    div(class="menu-container")
        div(class="menu-space-holder1")
            div(class="menu-item")
                div(class="md-title")
                    p Konstantin
                    p Konstantinopolsky
                    p &nbsp;
                div(class="md-body-1")
                    p Thomson Reuters Company, ltd
            div(class="menu-item")
                div Account details
            div(class="menu-item")
                div My pricelist
            div(class="menu-item")
                div My discounts
            div(class="menu-item")
                div(style="display: inline") Logout
                img(src="./img/icons/u189.png" style="margin-left: 10px")
    div(class="content")
        div(class="mui-panel")
            div(class="caption md-title") My pricelist
                md-button(class="md-raised" style="float: right")
                    i(class="fa fa-print" style="margin-right: 10px;")
                    span Print
            div(style="margin-top: 30px;") Shown here are your prices
            | for the basic products RITCHY Group Ltd.

            table(id="discount-table")
                tr
                    td Liqua C 10ml
                    td 30.90 CZK
                tr
                    td Liqua C 30ml
                    td 59.40 CZK
                tr
                    td Liqua C 50ml
                    td 76.06 CZK
                tr
                    td Liqua Q 10ml
                    td 36.84 CZK
                tr
                    td Liqua Q 30ml
                    td 63.00 CZK
                tr
                    td Liqua HP 10ml
                    td 36.84 CZK
                tr
                    td Liqua HP 30ml
                    td 63.00 CZK
                tr
                    td Vaping Pen
                    td 261.47 CZK
                tr
                    td Atomizers (x5)
                    td 147.37 CZK
                tr
                    td Clearomizers (x5)
                    td 292.37 CZK
                tr
                    td Batteries for LIQUA Vaping Pen (x5)
                    td 974.57 CZK
    div(class="footer md-body-1")
        span Privacy policy   Cookies policy   Terms and conditions   Delivery  Contact Us
        hr
        table
            tr
                td 2016 © RITCHY GROUP Ltd.
                td(class="right") +420 225 067 840 (Europe), +1 844 255 8848 (US), + 852 8199 9473 (Asia)
            tr
                td Products manufactured by RITCHY GROUP Ltd.
                td(class="right") info@ritchy.com
        hr
        span WARNING: Nicotine is an addictive substance. This product has not been approved by the U.S. FDA as a smoking cessation product. This product is simply an alternative to tobacco smoking and should only be used by long-term smokers. This product is not a smoking cessation device. This product is not intended to diagnose, treat, prevent, cure, or mitigate any disease or medical condition or offer any therapeutic benefit. Do not use this product if you are under the legal age of smoking or if you are sensitive to nicotine or inhalants. Do not use this product if you have or if you are at risk of having any respiratory conditions, heart disease, high blood pressure or diabetes. Consult your doctor before use if you have any medical conditions. Do not use if you are pregnant or nursing. Discontinue use of this product immediately if you experience symptoms such as nausea, dizziness, a weak or rapid heartbeat, vomiting, diarrhea, or any negative physical symptom. Keep product away from children and pets.