div#user-discount {
  color: rgb(102, 102, 102);
  line-height: 20px;
}

div#user-discount div.md-title p {
  margin: 0;
}

div#user-discount div.content {
  margin-left: 340px;
  padding: 10px;
  width: 520px;
}

div#user-discount div.content div.mui-panel {
  padding: 30px;
}

div#user-discount div.footer {
  margin-left: 340px;
  padding: 10px;
  min-width: 520px;
}

div#user-discount div.footer table {
  width: 100%;
}

div#user-discount div.footer table td.right {
  text-align: right;
}