div#user-info {
  font-family: 'Segoe UI Bold', 'Segoe UI';
  color: rgb(102, 102, 102);
  line-height: 20px;
}

div.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 230px;
  height: 100%;
  background-color: rgb(228, 228, 228);
  border-right: 3px solid #CCCCCC;
  margin-left: 80px;
  color: rgb(51, 51, 51);
  z-index: 1000;
}

div.menu-container div.menu-space-holder1 {
  padding-top: 20px;
}

div.menu-container div.menu-item {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px 30px;
}

div#user-info div.md-title p {
  margin: 0;
}

div#user-info div.content {
  margin-left: 230px;
  padding: 10px;
  width: 520px;
}

div#user-info div.content div.inform-block {
  color: #999999;
}

div#user-info div.mui-panel div.caption {
  margin-bottom: 10px;
}

div#user-info table {
  width: 100%;
}

div#user-info div.mui-panel td {
  vertical-align: bottom;
  padding: 0 10px;
}
div#user-info div.mui-panel td p {
  margin: 0;
}

div#user-info div.inform-block {
  padding: 20px 0;
}

div#user-info button.md-primary {
  background-color: rgb(71, 149, 227);
}

div#user-info div#quest_block1 {
  background-color: rgb(242, 242, 242);
  padding: 10px;
  margin-bottom: 10px;
}

div#user-info md-checkbox {
  margin: 0;
}

div#user-info div.footer {
  margin-left: 230px;
  padding: 10px;
  min-width: 520px;
}

div#user-info div.footer table {
  width: 100%;
}

div#user-info div.footer table td.right {
  text-align: right;
}