div.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 230px;
  height: 100%;
  background-color: rgb(228, 228, 228);
  border-right: 3px solid #CCCCCC;
  margin-left: 80px;
  color: rgb(51, 51, 51);
  z-index: 999;
}

div.menu-container div.menu-space-holder1 {
  padding-top: 20px;
}

div.menu-container div.menu-item {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px 30px;
}