div#user-pricelist {
  color: rgb(102, 102, 102);
  line-height: 20px;
}

div#user-pricelist div.md-title p {
  margin: 0;
}

div#user-pricelist div.content {
  margin-left: 340px;
  padding: 10px;
  width: 520px;
}

div#user-pricelist div.content div.mui-panel {
  padding: 30px;
}

div#user-pricelist table#discount-table {
  width: 100%;
  border-spacing: 1px;
  border-collapse: separate;
}

div#user-pricelist table#discount-table td {
  background-color: rgb(242, 242, 242);
  padding: 6px;
}

div#user-pricelist div.footer {
  margin-left: 340px;
  padding: 10px;
  min-width: 520px;
}

div#user-pricelist div.footer table {
  width: 100%;
}

div#user-pricelist div.footer table td.right {
  text-align: right;
}