.login-holder {
  justify-content: center;
  text-align: center;
}

.login-pane {
  width: var(--login-panel-width);
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}

.login-pane img {
  width: 100%;
}

.login-pane button {
  width: 100%;
}