.login-holder {
  justify-content: center;
  text-align: center;
  height: 100%;
}

.login-holder .login-pane-space {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.login-pane {
  width: var(--login-panel-width);
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  padding: 30px;
}

.login-pane img {
  width: 100%;
}

.login-pane button {
  width: 100%;
  margin: 6px 0;
}

.login-pane md-content {
  padding: 0;
}

.login-pane md-content div {
  padding: 0;
}

.login-pane div {
  width: 100%;
}

.login-pane input {
  width: 100%;
}

.login-pane button#btn_sign_in {
  background-color: rgba(51, 204, 102, 1);
}

.login-pane button#btn_register {
  background-color: rgba(0, 153, 255, 1);
  color: rgba(255,255,255,1);
}

.login-pane span#ref_recovery {
  color: #0099FF;
  cursor: hand;
}

.login-pane span#ref_recovery:hover {
  text-decoration: underline;
}