:root {
  --background: rgb(245,245,245);
  --body-font-size: 16px;
  --login-panel-width: 330px;
}

body {
  background-color: var(--background);
  font-size: var(--body-font-size);
}

.login-holder {
  justify-content: center;
  text-align: center;
}

.login-pane {
  width: var(--login-panel-width);
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}

.login-pane img {
  width: 100%;
}

.login-pane button {
  width: 100%;
}