//
   Created by admin on 11.06.2016.

html(lang="ru" ng-app="Ritchy")
    head(ng-cloak)
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Ritchy
        script(src="./modules/core/js/core.min.js")
        link(rel="stylesheet" href="./css/ritchy.css")
        link(rel="stylesheet" href="./css/index.css")
    body(ng-strict-di)
        div(ng-controller="core" ng-cloak)
            div(rcontent="sidenav")
            ng-view
            script(src="./js/ritchy.js")
