//
   Created by admin on 23.06.2016.

div(id="register-not-confirm-holder")
    span(class="vertical-space")
    div(id="register-not-confirm-block")
        table(id="register-not-confirm-block-top")
            tr
                td
                    img(src="./img/logo_dark.jpg")
                td
                    span(class="md-body-1")
                        p Welcome to RITCHY Group
                        p Ltd. B2B online portal.
        table(id="register-not-confirm-block-middle")
            tr
                td(class="mui--align-middle" style="text-align: right; width: 150px;")
                    img(src="./img/icons/u133.png")
                td(class="md-display-1 mui--align-middle" style="font-weight: bold; text-align: center;")
                    p Sorry, your
                    p account is not
                    p active
            tr
                td(colspan=2)
                    span
                        p Please refer to the technical support cs@ritchy.com,
                        p we will consider your request again
            tr
                td(colspan=2)
                    md-button(class="md-raised md-primary") Back to www.ritchy.com