//
   Created by admin on 23.06.2016.

div(id="register-success-holder")
    span(class="vertical-space")
    div(id="register-success-block")
        table(id="register-success-block-top")
            tr
                td
                    img(src="./img/logo_dark.jpg")
                td
                    span(class="md-body-1")
                        p Welcome to RITCHY Group
                        p Ltd. B2B online portal.
        table(id="register-success-block-middle")
            tr
                td(class="mui--align-middle" style="text-align: right; width: 150px;")
                    img(src="./img/icons/u119.png")
                td(class="md-display-1 mui--align-middle" style="font-weight: bold; text-align: center;")
                    p Thank you
                    p for registering
                    p with us!
            tr
                td(colspan=2)
                    md-button(class="md-raised md-primary") Go to B2B online portal