.register-holder {
  justify-content: center;
  text-align: center;
}

.register-holder .register-pane-space {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.register-pane {
  width: var(--login-panel-width);
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  padding: 30px;
  margin-top: 20px;
}

// Исправление цвета фона на форме регистрации, по умолчанию фон за полями ввода слегка серый и отличается от цвета формы
.register-pane md-content.md-default-theme, .register-pane md-content {
  background-color: inherit;
}

.register-pane img, .register-pane button, .register-pane input {
  width: 100%;
}

.register-pane button {
  margin: 6px 0;
}

.register-pane>form>div {
  width: 100%;
}

.register-pane md-input-container {
  width: 100%;
  margin: 16px 0;
}

.register-pane md-content {
  padding: 0;
}

.register-pane md-content div {
  padding: 0;
}

.register-pane button#btn_create_account {
  background-color: #33cc66;
  color: rgb(255,255,255);
}

.register-pane .register-footer p {
  margin: 0;
}


.register-holder .info-block {
  background-color: #2196f3;
  top: 50%;
  padding: 30px;
  position: absolute;
  left: 100%;
  right: -100%;
  color: rgb(255,255,255);
  margin-left: 30px;
  margin-top: -149px;
}