//
   Created by admin on 23.06.2016.

div(class="footer md-body-1")
    span Privacy policy   Cookies policy   Terms and conditions   Delivery  Contact Us
    hr
    table
        tr
            td 2016 © RITCHY GROUP Ltd.
            td(class="right") +420 225 067 840 (Europe), +1 844 255 8848 (US), + 852 8199 9473 (Asia)
        tr
            td Products manufactured by RITCHY GROUP Ltd.
            td(class="right") info@ritchy.com
    hr
    span WARNING: Nicotine is an addictive substance. This product has not been approved by the U.S. FDA as a smoking cessation product. This product is simply an alternative to tobacco smoking and should only be used by long-term smokers. This product is not a smoking cessation device. This product is not intended to diagnose, treat, prevent, cure, or mitigate any disease or medical condition or offer any therapeutic benefit. Do not use this product if you are under the legal age of smoking or if you are sensitive to nicotine or inhalants. Do not use this product if you have or if you are at risk of having any respiratory conditions, heart disease, high blood pressure or diabetes. Consult your doctor before use if you have any medical conditions. Do not use if you are pregnant or nursing. Discontinue use of this product immediately if you experience symptoms such as nausea, dizziness, a weak or rapid heartbeat, vomiting, diarrhea, or any negative physical symptom. Keep product away from children and pets.