.recovery-holder {
  justify-content: center;
  text-align: center;
}

.recovery-holder .recovery-pane-space {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.recovery-pane {
  width: var(--login-panel-width);
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  padding: 30px;
}

.recovery-pane div.recovery-pane-header {
  margin-bottom: 30px;
}

.recovery-pane img {
  width: 100%;
}

.recovery-pane div.recovery-pane-header div {
  padding-top: 15px;
  width: 220px;
  padding-left: 30px;
}


.recovery-pane button#btn_recovery {
  width: 100%;
  margin: 0;
  background-color: rgba(0, 153, 255, 1);
}