.recovery-holder {
  justify-content: center;
  text-align: center;
}

.recovery-pane {
  width: var(--login-panel-width);
  display: inline-block;
  text-align: left;
  margin-top: 10px;
  width: 500px;
  padding: 20px;
}

.recovery-pane div.recovery-pane-header {
  margin-bottom: 30px;
}

.recovery-pane div.recovery-pane-header div {
  padding-top: 15px;
  width: 220px;
  padding-left: 30px;
}

.recovery-pane div.recovery-pane-header img {
  width: 170px;
  margin: 10px;
}

.recovery-pane button {
  width: 95%;
}