.recovery-holder {
  justify-content: center;
  text-align: center;
}

.recovery-pane {
  width: var(--login-panel-width);
  display: inline-block;
  text-align: left;
  margin-top: 10px;
  width: 500px;
  padding: 20px;
}

.recovery-pane button {
  width: 95%;
}