//
   Created by admin on 23.06.2016.

div(class="menu-container")
    div(class="menu-space-holder1")
        div(class="menu-item")
            div(class="md-title")
                p Konstantin
                p Konstantinopolsky
                p &nbsp;
            div(class="md-body-1")
                p Thomson Reuters Company, ltd
        div(class="menu-item")
            div Account details
        div(class="menu-item")
            div My pricelist
        div(class="menu-item")
            div My discounts
        div(class="menu-item")
            div(style="display: inline") Logout
            img(src="./img/icons/u189.png" style="margin-left: 10px")