//
   Created by admin on 13.06.2016.

div(class="mui-container recovery-holder" ng-controller="recovery" ng-cloak)
    span(class="recovery-pane-space")
    div(class="mui-panel recovery-pane")
        div
            img(src="./img/logo.png")
        p(class="mui--text-body1 mui--text-dark-secondary") Welcome to RITCHY Group Ltd. B2B online portal.
        div
            h1(class="md-headline") Password recovery
        div(class="mui--text-body1 mui--text-dark-secondary") Please enter your registered email to which we will send the new password:
        md-input-container(class="md-block" flex-gt-sm)
            label E-mail
            input(required name="email" ng-model="user.email" ng-change="user.changed()")
            div(ng-messages="email.$error")
                div(ng-message="required") E-mail must be typed correctly
        div
            md-button(id="btn_recovery" class="md-raised md-primary") RECOVER PASSWORD